<!DOCTYPE html>
<html lang="fr">
<head>
    {% include 'components/head/meta.html.twig' %}
    {% include 'components/head/styles.html.twig' %}
    {% include 'components/head/scripts.html.twig' %}
</head>
<body class="bg-gray-50">
    {# Navigation #}
    {% block navigation %}
        {% include 'components/navigation/main-nav.html.twig' %}
    {% endblock %}

    {# Contenu Principal #}
    {% block content %}{% endblock %}

    {# Footer #}
    {% block footer %}
        {% include 'components/footer/main-footer.html.twig' %}
    {% endblock %}

    {# Scripts supplémentaires spécifiques aux pages #}
    {% block page_scripts %}{% endblock %}
</body>
</html>