<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Africa QSHE Forum{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/01691af9f6.js" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% block styles %}
        <link rel="stylesheet" href="/css/banner.css">
    {% endblock %}
</head>
<body class="bg-gray-50">
    {% include 'components/navigation.html.twig' %}
    
    <main class="container mx-auto px-4 mt-20">
        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html.twig' %}
    
    {% block scripts %}
        <script src="/js/banner-animations.js"></script>
    {% endblock %}
</body>
</html>
