<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    
    {% block stylesheets %}
        {# Inclusion des styles de base #}
        {% include 'components/head/styles.html.twig' %}
    {% endblock %}

    {% block javascripts %}
        {# Inclusion des scripts de base #}
        {% include 'components/head/scripts.html.twig' %}
    {% endblock %}
</head>
<body>
    {% block navigation %}
        {% include 'components/navigation.html.twig' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'components/footer.html.twig' %}
    {% endblock %}
</body>
</html>
