<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1e3a8a">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    
    {# Meta tags #}
    {% include 'components/head/meta.html.twig' %}
    
    {# Tailwind #}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/tailwind.config.js"></script>
    
    {# Styles de base #}
    {% block stylesheets %}
        {% include 'components/head/styles.html.twig' %}
    {% endblock %}

    {# Scripts de base #}
    {% block javascripts %}
        {% include 'components/head/scripts.html.twig' %}
    {% endblock %}
</head>
<body class="font-inter antialiased">
    {# Navigation #}
    {% block navigation %}
        {% include 'components/navigation/main.html.twig' %}
    {% endblock %}

    {# Contenu principal #}
    <main>
        {% block content %}{% endblock %}
    </main>

    {# Footer #}
    {% block footer %}
        {% include 'components/footer/main-footer.html.twig' %}
    {% endblock %}

    {# Scripts de fin de page #}
    {% block page_scripts %}{% endblock %}
</body>
</html>
